<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.html') %>
  <body>
    <div class="container">
      <h2>Bank Transfer</h2>
      <div class="form-group">
        <label for="transactionType">거래 유형</label>
        <div class="radio-group">
          <label>
            <input type="radio" name="transactionType" value="입금" required />
            입금
          </label>
          <label>
            <input type="radio" name="transactionType" value="출금" /> 출금
          </label>
          <label>
            <input type="radio" name="transactionType" value="이체" /> 이체
          </label>
        </div>
      </div>

      <!-- Deposit Form -->
      <form
        action="/transactions/deposit"
        method="POST"
        id="depositForm"
        style="display: none"
      >
        <div class="form-group">
          <label for="accountNumber">계좌 선택</label>
          <select id="accountNumber" name="accountNumber" required>
            <% accounts.forEach(function(account) { %>
            <option value="<%= account.account_number %>">
              <%= account.account_number.replace(/-/g, '') %> - 잔액: <%=
              account.balance %>
            </option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="accountPassword">계좌 비밀번호</label>
          <input
            type="password"
            id="accountPassword"
            name="accountPassword"
            required
          />
        </div>
        <div class="form-group">
          <label for="amount">금액</label>
          <input type="number" id="amount" name="amount" required />
        </div>
        <div class="form-group">
          <label for="transferTime">보내는 시간</label>
          <input type="text" id="transferTime1" name="transferTime" readonly />
        </div>
        <div class="form-group">
          <button type="submit">보내기</button>
        </div>
        d
      </form>

      <!-- Withdrawal Form -->
      <form
        action="/transactions/withdraw"
        method="POST"
        id="withdrawForm"
        style="display: none"
      >
        <div class="form-group">
          <label for="accountNumber">계좌 선택</label>
          <select id="accountNumber" name="accountNumber" required>
            <% accounts.forEach(function(account) { %>
            <option value="<%= account.account_number %>">
              <%= account.account_number.replace(/-/g, '') %> - 잔액: <%=
              account.balance %>
            </option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="accountPassword">계좌 비밀번호</label>
          <input
            type="password"
            id="accountPassword"
            name="accountPassword"
            required
          />
        </div>
        <div class="form-group">
          <label for="amount">금액</label>
          <input type="number" id="amount" name="amount" required />
        </div>
        <div class="form-group">
          <label for="transferTime">보내는 시간</label>
          <input type="text" id="transferTime2" name="transferTime" readonly />
        </div>
        <div class="form-group">
          <button type="submit">보내기</button>
        </div>
      </form>

      <!-- Transfer Form -->
      <form
        action="/transactions/transfer"
        method="POST"
        id="transferForm"
        style="display: none"
      >
        <div class="form-group">
          <label for="accountNumber">계좌 선택</label>
          <select id="accountNumber" name="accountNumber" required>
            <% accounts.forEach(function(account) { %>
            <option value="<%= account.account_number %>">
              <%= account.account_number.replace(/-/g, '') %> - 잔액: <%=
              account.balance %>
            </option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="recipientAccountPart1">받는 사람 계좌 번호</label>
          <div class="d-flex">
            <input
              type="number"
              id="recipientAccountPart1"
              name="recipientAccountPart1"
              class="form-control"
              placeholder="xxxx"
              maxlength="4"
              required
            />
            <span>-</span>
            <input
              type="number"
              id="recipientAccountPart2"
              name="recipientAccountPart2"
              class="form-control"
              placeholder="xx"
              maxlength="2"
              required
            />
            <span>-</span>
            <input
              type="number"
              id="recipientAccountPart3"
              name="recipientAccountPart3"
              class="form-control"
              placeholder="xxxxxx"
              maxlength="6"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="accountPassword">계좌 비밀번호</label>
          <input
            type="password"
            id="accountPassword"
            name="accountPassword"
            required
          />
        </div>
        <div class="form-group">
          <label for="amount">금액</label>
          <input type="number" id="amount" name="amount" required />
        </div>
        <div class="form-group">
          <label for="transferTime">보내는 시간</label>
          <input type="text" id="transferTime3" name="transferTime" readonly />
        </div>
        <div class="form-group">
          <button type="submit">보내기</button>
        </div>
      </form>
    </div>

    <script>
      function getCurrentTime() {
        const now = new Date();
        return now.toLocaleString();
      }

      document
        .getElementById("depositForm")
        .addEventListener("submit", function (e) {
          document.getElementById("transferTime1").value = getCurrentTime();
        });

      document
        .getElementById("withdrawForm")
        .addEventListener("submit", function (e) {
          document.getElementById("transferTime2").value = getCurrentTime();
        });

      document
        .getElementById("transferForm")
        .addEventListener("submit", function (e) {
          document.getElementById("transferTime3").value = getCurrentTime();
        });

      // 페이지 로드 시 현재 시간을 설정
      document.getElementById("transferTime1").value = getCurrentTime();
      document.getElementById("transferTime2").value = getCurrentTime();
      document.getElementById("transferTime3").value = getCurrentTime();

      document.addEventListener("DOMContentLoaded", function () {
        const transactionTypeInputs = document.querySelectorAll(
          'input[name="transactionType"]'
        );

        function toggleForms() {
          const selectedType = document.querySelector(
            'input[name="transactionType"]:checked'
          ).value;
          document.getElementById("depositForm").style.display =
            selectedType === "입금" ? "block" : "none";
          document.getElementById("withdrawForm").style.display =
            selectedType === "출금" ? "block" : "none";
          document.getElementById("transferForm").style.display =
            selectedType === "이체" ? "block" : "none";
        }

        transactionTypeInputs.forEach((input) => {
          input.addEventListener("change", toggleForms);
        });

        toggleForms(); // 초기 상태 설정
      });
    </script>
  </body>
</html>
